.snackbar {
  position: fixed;
  bottom: 20px;
  right: 20px;
  min-width: 300px;
  padding: 16px 24px;
  border-radius: 4px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  animation: slideIn 0.3s ease-out;
  z-index: 4000;
}

.success {
  background-color: var(--success-color);
}

.error {
  background-color: var(--error-color);
}

.text{
  color: var(--light-text) !important;
}

.closeButton:hover {
  opacity: 0.8;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

