.header {
  text-align: center;
}

.activeEditButton {
  fill: var(--success-color);
}

.topSectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.rowsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  transition: transform 0.2s ease;
}

.rowsEditMode {
  padding-bottom: 5rem;
}
