.productCardContainer {
  position: relative;
  margin: 1rem auto;
  overflow: visible;
}

.productCard {
  border: 1px solid #ccc;
  height: 25rem;
  width: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: 18rem;
  object-fit: fill;
}

.productDetails {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  padding-bottom: 0.1rem;
  color: var(--dark-text);
}

.productDetails h2 {
  margin: 0 0 0.5rem 0;
}

.removeButton {
  position: absolute !important;
  top: -0.3rem;
  right: -0.3rem;
}

.removeButton:hover {
  background-color: #d32f2f;
}
