.productCardContainer {
  position: relative;
  margin: 1rem auto;
  overflow: visible;
}

.productCard {
  position: relative;
  border: 1px solid #ccc;
  width: 20rem;
  aspect-ratio: 4/5;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  overflow: visible;
  background-color: #fff;
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
}

.productImage {
  width: 100%;
  height: 18rem;
  object-fit: fill;
}

.productDetails {
  bottom: 0;
  padding: 1rem;
  padding-bottom: 0.1rem;
  color: var(--dark-text);
  width: calc(100% - 2rem);
}

.productDetails h2 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productDetails p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.removeButton {
  position: absolute !important;
  top: -0.3rem;
  right: -0.3rem;
}

.removeButton:hover {
  background-color: #d32f2f;
}


@media (max-width: 1400px) {
  .productImage {
    height: 12rem;
  }

  .productCard {
    width: 15.2rem;
  }

  .productDetails h2 {
      font-size: 1.4rem;
  }
}

@media (max-width: 1024px) {
  .productImage {
    height: 11rem;
  }

  .productCard {
    width: 12.9rem;
  }

  .productDetails h2 {
      font-size: 1.0rem;
  }

  .productDetails p {
      font-size: 0.9rem;
  }
}
