.categoryRowWrapper {
  border: 0.5px solid #000;
  border-radius: 0.5rem;
  width: 100%;
  margin: 1rem 0;
}

.categoryRow {
  padding: 1rem 1rem 0;
  border-radius: 0.5rem;
  min-height: 10rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
}

.alignLeft {
  justify-content: flex-start;
}

.alignCenter {
  justify-content: center;
}

.alignRight {
  justify-content: flex-end;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

